body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    height: 30px;
   background-color: #1e1e1e; #413f3f /* #696969; change the background color as needed */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black; /* Add border for outline */
}

.right-buttons {
    align-items: center;
    display: flex;
    margin-right: 10px;
}
.home-button {
    background-color: #1e1e1e; #413f3f
    color: #d1cdcd;
    border: none;
    padding: 0px 17px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    height: fit-content;
    margin-bottom: 2px;
    border-bottom: 3px solid #232323; /* Add border for outline */
}

.home-button:hover {
    background: #454545;
}

.home-icon {
    font-size: 30px;
    margin-right: 5px;
}
.home-icon:hover {
    transform: scale(0.9);
}

.load-icon {
    font-size: 30px;
    margin-right: 5px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.home-button:focus {
    outline: none;
}

.tittle-button {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 13px; /* Adjust the font size as needed */
    height: 100%;
    margin-left: 20px;
    background-color: #1e1e1e; /* You can change the background color as needed */
    border: 1px #696969; /* Add border for outline */
    align-items: center;
    color: white;
}
.tittle-button:hover {
    color: #616161;
    /* background-color: #444; */
}
.imgCover {
    display: flex;
    align-items: center; /* Center vertically */
}
.gitIMG {
    height: 30px;
    margin-right: 40px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25px;
    transform: scale(1);
    overflow: auto;
    opacity: 0.7;
}
.gitIMG:hover {
    transform: scale(1.1);
    opacity: 1;
    //background: #1c1c1c;
}
