.Menubackground {
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-bottom: 0px; /* Adjust padding to fit the content */
    border-bottom: 1px solid #000; /* Change color and thickness as needed */
    padding-right: 10px;
}
.set {
    font-family: Arial, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 0px;
}

.input {
    font-family: Arial, sans-serif;
    width: 45px;
    margin: 20px;
    text-align: center;
}
.random-button {
    background-color: #1e1e1e;
    color: #d1cdcd;
    border: none;
    padding: 6px 16px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.random-button:hover {
    background-color: #222222;
}

.random-icon {
    font-size: 12px;
    margin-right: 5px;
}

.random-button:focus {
    outline: none;
}
.clear-button {
    background-color: #1e1e1e;
    color: #d1cdcd;
    border: none;
    padding: 7px 16px;
    margin-right: 100px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.clear-button:hover {
    background-color: #222222;
}

.clear-icon {
    font-size: 12px;
    margin-right: 5px;
}

.clear-button:focus {
    outline: none;
}

.sort-button {
    margin: 0px;
    background-color: #1e1e1e;
    color: #d1cdcd;
    border: none;
    padding: 7px 16px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sort-button:hover {
    background-color: #222222;
}

.play-icon {
    font-size: 12px;
    margin-right: 8px;
}

.play-button:focus {
    outline: none;
}

.slider-container {
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 13px;
}
.slider-container:hover {
    background: #222222;
}
.slider-container label {
    margin-right: 5px;
    color: #d1cdcd;
}
.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 7px;
    background: #545454;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 14px;
    background: #c7c7c7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #c7c7c7;
    cursor: pointer;
    border-radius: 50%;
}
