.Menubackground {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute child elements with space between them */
    width: 100%; /* Ensure the parent div takes full width */
    padding-bottom: 2px; /* Adjust padding to fit the content */
    border-bottom: 1px solid #000; /* Change color and thickness as needed */
}
.set {
    font-family: Arial, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 0px;
}
.input {
    font-family: Arial, sans-serif;
    width: 45px;
    margin: 20px;
    text-align: center;
}

.button {
    background-color: #1e1e1e;
    color: #d1cdcd;
    border: none;
    padding: 6px 16px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}
.button:hover {
    background: #222222;
}

.icon {
    font-size: 12px;
    margin-right: 5px;
}

.button:focus {
    outline: none;
}
